BackOffice.Backend.Integrations.Orchestrator.Api.Tests/bin/Debug/net8.0/BackOffice.Backend.Integrations.Orchestrator.Api.Tests.deps.json
BackOffice.Backend.Integrations.Orchestrator.Api.Tests/bin/Debug/net8.0/BackOffice.Backend.Integrations.Orchestrator.Api.Tests.dll
BackOffice.Backend.Integrations.Orchestrator.Api.Tests/bin/Debug/net8.0/BackOffice.Backend.Integrations.Orchestrator.Api.Tests.pdb
*.json
BackOffice.Backend.Integrations.Orchestrator.Api.Tests/bin/
BackOffice.Backend.Integrations.Orchestrator.Api.Tests/obj/
BackOffice.Backend.Integrations.Orchestrator.Api/bin/
BackOffice.Backend.Integrations.Orchestrator.Api/obj/
BackOffice.Backend.Integrations.Orchestrator.Application.Tests/bin/
BackOffice.Backend.Integrations.Orchestrator.Application.Tests/obj/
BackOffice.Backend.Integrations.Orchestrator.Application/bin/Debug/net8.0/BackOffice.Backend.Integrations.Orchestrator.Application.dll
BackOffice.Backend.Integrations.Orchestrator.Application/bin/
BackOffice.Backend.Integrations.Orchestrator.Application/obj/
BackOffice.Backend.Integrations.Orchestrator.Domain.Tests/bin/
BackOffice.Backend.Integrations.Orchestrator.Domain.Tests/obj/
BackOffice.Backend.Integrations.Orchestrator.Domain/bin/
BackOffice.Backend.Integrations.Orchestrator.Domain/obj/
BackOffice.Backend.Integrations.Orchestrator.Infrastructure.Tests/bin/
BackOffice.Backend.Integrations.Orchestrator.Infrastructure.Tests/obj/
BackOffice.Backend.Integrations.Orchestrator.Infrastructure/bin/
BackOffice.Backend.Integrations.Orchestrator.Infrastructure/obj/
/.vs/BackOffice.Backend.Integrations.Orchestrator/FileContentIndex
/.vs/BackOffice.Backend.Integrations.Orchestrator/DesignTimeBuild/.dtbcache.v2
/.vs/BackOffice.Backend.Integrations.Orchestrator/v17/.futdcache.v2
*.bin
Integration.Orchestrator.Backend.Api.Tests/bin/
Integration.Orchestrator.Backend.Api.Tests/obj/
Integration.Orchestrator.Backend.Api/bin/
Integration.Orchestrator.Backend.Api/obj/
Integration.Orchestrator.Backend.Application.Tests/bin/
Integration.Orchestrator.Backend.Application.Tests/obj/
Integration.Orchestrator.Backend.Application/bin/
Integration.Orchestrator.Backend.Application/obj/
Integration.Orchestrator.Backend.Domain.Tests/bin/
Integration.Orchestrator.Backend.Domain.Tests/obj/
Integration.Orchestrator.Backend.Domain/
Integration.Orchestrator.Backend.Infrastructure.Tests/bin/
Integration.Orchestrator.Backend.Infrastructure.Tests/obj/
Integration.Orchestrator.Backend.Infrastructure/bin/
Integration.Orchestrator.Backend.Infrastructure/obj/
